section{
    inline-size: 200px;
    margin: 0%;
    border: 1px solid gray;
}

.txt{
    border-bottom: 1px solid gray;
}

.centro{
    text-align: center;
}

h1{
    text-align: start;
}

.dati {
    border-bottom: 1px solid gray;
}

.link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: none;
}