.nav_container{
    background: yellowgreen;
    color: white;
    width: 195px;
    height: 100%;
    position: sticky;
    border: 5px solid yellowgreen;
    display: flex;
    flex-direction: column;
}
.link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
a{
    text-decoration: none;
    color: #2b2b2b;
}
a:hover{
 color: #2b2bb2;
}
.user{
    margin-top: 23rem;
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    justify-content: space-around;
}